.md-announce__inner {
    font-size: 1.125em;
    text-align: end;
}

.md-footer-modules {
    font-size: 0.75em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 3em;
}

.md-footer-modules > a {
    margin: 0 1em;
}
